<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/firsthibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Redmi@8265</property>

        <!-- JDBC connection pool (optional) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Show SQL in console -->
        <property name="show_sql">true</property>

        <!-- Format SQL output -->
        <property name="format_sql">true</property>

        <!-- Automatically create/drop tables -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping class -->
        <mapping class="org.example.Student"/>
        <mapping class="org.example.Course"/>

    </session-factory>
</hibernate-configuration>
